@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-family: Poppins,sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
  display: block;
  font-weight: 400
}

.hero {
  height: 670px;
  margin-top: 0px;
  margin-bottom: 93px;
  padding-right: 60px;
  padding-bottom: 0px;
  padding-left: 60px;
  border-radius: 0px;
}
.w-nav {
  position: relative;
  background: #dddddd;
  z-index: 1000;
}
.navbar {
  padding-top: 35px;
  background-color: rgba(95, 15, 15, 0);
}

.w-container:before, .w-container:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.w-container:after {
  clear: both;
}

.w-container:before, .w-container:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}

.container {
  max-width: 1134px;
  margin-right: auto;
  margin-left: auto;
}

.w-nav-brand {
  position: relative;
  float: left;
  text-decoration: none;
  color: #333333;
}

.brand {
  padding-top: 3px;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  border: 0;
}

a {
  background-color: transparent;
}

.w-nav-menu {
  position: relative;
  float: right;
}

.w-nav-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #222222;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.nav-link {
  padding-top: 10px;
  padding-bottom: 30px;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: Poppins, sans-serif;
  color: #3d3d3d;
  font-weight: 400;
}
.button {
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #16389d;
  border-radius: 4px;
  background-color: rgba(56, 152, 236, 0);
  font-family: Poppins, sans-serif;
  color: #16389d;
  font-size: 20px;
  font-weight: 500;
}

.nav-link.button {
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: none;
  border-width: 1px;
  border-top-color: #000;
  border-right-color: #000;
  border-left-color: #000;
  border-radius: 4px;
  background-color: #16389d;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  margin-left: 18px
}

.w-nav-button {
  position: relative;
  float: right;
  padding: 18px;
  font-size: 24px;
  display: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.w-nav-overlay {
  position: absolute;
  overflow: hidden;
  display: none;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
}

div {
  display: block;
}

.container {
  max-width: 1134px;
  margin-right: auto;
  margin-left: auto;
}

.flex-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.left-block {
  margin-top: 73px;
  margin-bottom: 105px;
}

.title-with-background {
  margin-left: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
  background-color: #ff9f40;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
  font-size: 50px;
  line-height: 70px;
  font-weight: 700;
}

.heading-3 {
  color: #fff;
  font-size: 50px;
}

.heading {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 37px;
  color: #16389d;
  font-size: 44px;
  font-weight: 600;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

.paragraph-4 {
  max-width: 269px;
  margin-bottom: 62px;
  padding-top: 44px;
  padding-left: 39px;
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.hero-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-bottom: 105px;
  padding: 15px 20px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #16389d;
  border-radius: 4px;
  cursor: pointer;
}

.text-block {
  font-family: Poppins, sans-serif;
  color: #16389d;
  font-size: 14px;
  font-weight: 700;
}

.text-block.bold {
  font-size: 18px;
  font-weight: 700;
}

.right-block {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 82px;
}

.image-wrapper {
  max-width: 734px;
  margin-right: -18px;
  padding-bottom: 123px;
}

.section {
  margin-bottom: 0px;
  padding: 120px 60px;
  background-color: #fff;
}

.section._1 {
  background-color: #eaeaea;
}

.container {
  max-width: 1134px;
  margin-right: auto;
  margin-left: auto;
}

.text-wrapper {
  text-align: left;
}

.heading2 {
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}

.div-block-2 {
  width: 175px;
  max-width: 175px;
  margin-right: auto;
  margin-bottom: 70px;
  margin-left: auto;
  border-style: solid none none;
  border-width: 10px;
  border-color: #ff9f40;
  border-radius: 10px;
  text-align: center;
}

.flex-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-box.logo {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo-wrapper {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.image-5 {
  width: 225px;
  height: 125px;
  margin-right: 30px;
}

.image-4 {
  width: 102px;
  height: 101px;
  margin-right: 30px;
  margin-left: 30px;
}

.image {
  width: 199px;
  height: 41px;
  margin-right: 30px;
  margin-left: 30px;
}

.image-3 {
  width: 116px;
  height: 57px;
  margin-left: 30px;
  padding-right: 30px;
}

.image-2 {
  width: 270px;
  height: 140px;
  margin-left: 30px;
}

.wrapper {
  max-width: 552px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.heading-5 {
  margin-right: auto;
  margin-left: auto;
  font-family: Poppins, sans-serif;
  color: #333;
  font-weight: 600;
  text-align: center;
}

.div-block-3 {
  position: relative;
  width: 260px;
  height: 30px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  background-color: #acccfd;
}

.heading-6 {
  position: absolute;
  left: 0%;
  top: -58%;
  right: 0%;
  bottom: auto;
  z-index: 0;
  margin-top: 0px;
  margin-bottom: -8px;
  padding-bottom: 0px;
  text-align: center;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Poppins, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}

.secondary-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 350px;
  margin-top: 85px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #16389d;
  border-radius: 3px;
  cursor: pointer;
}

.text-block {
  font-family: Poppins, sans-serif;
  color: #16389d;
  font-size: 14px;
  font-weight: 700;
}

.section {
  margin-bottom: 0px;
  padding: 120px 60px;
  background-color: #fff;
}

.section.mockup {
  background-color: #fff;
}

.section.mockup.mockup3 {
  padding-bottom: 40px;
}

.heading-7 {
  margin-right: auto;
  margin-left: auto;
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 15px
}

.div-block-2 {
    width: 175px;
    max-width: 175px;
    margin-right: auto;
    margin-bottom: 70px;
    margin-left: auto;
    border-style: solid none none;
    border-width: 10px;
    border-color: #ff9f40;
    border-radius: 10px;
    text-align: center;
}

.div-block-2.mock-up {
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
    text-align: right;
}

.bullet {
  padding-bottom: 30px;
}

.w-clearfix:before, .w-clearfix:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.w-clearfix:after {
  clear: both;
}

.w-clearfix:before, .w-clearfix:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.image-14 {
  float: left;
}

.image-7 {
  display: inline-block;
  max-width: 100%;
  min-width: 563px;
}

.section.mockup {
  background-color: #fff;
}

.left-mock-up-2 {
  width: 354px;
  width: 100%;
}

.right-mock-up-1 {
  text-align: left;
}

.heading-7.mc2 {
  text-align: right;
}
.div-block-2.mock-up.r {
  margin-left: auto;
}

.image-14.ri {
  float: right;
}

.text-block-9 {
  margin-left: 45px;
  font-family: Poppins, sans-serif;
  color: #333;
  font-weight: 400;
}

.image-7 {
  display: inline-block;
  max-width: 100%;
  min-width: 563px;
}
.text-block-9.rig {
  margin-right: 45px;
  margin-left: 0px;
  text-align: right;
  width: 356px;
  font-size: 14px;
}

.section.mockup.col {
  border-radius: 4px;
  background-color: #eaeaea;
}

.heading2 {
  font-size: 30px;
  line-height: 30px;
  text-align: center;
}

.panel {
  text-align: center;
}

.div-block-2.small {
  width: 135px;
  margin-bottom: 55px;
}

.flex-box.center {
  margin-top: 29px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.top1 {
  width: 355px;
  padding: 33px;
  border-style: solid;
  border-width: 1.5px;
  border-color: #16389d;
  border-radius: 4px;
}

.text-block-10 {
  width: 290px;
  padding: 33px;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  text-align: left;
}

.div-block-11 {
  width: 264px;
  padding: 0px;
  font-weight: 500;
}

.top1.marg {
  margin-right: 35px;
  margin-left: 35px;
}

.text-block-10 {
  width: 290px;
  padding: 33px;
  font-family: Poppins, sans-serif;
  font-size: 20px;
  text-align: left;
}

.text-block-10._3 {
  width: 250px;
  padding: 0px;
  font-weight: 500;
}

.flex-box.center {
  margin-top: 29px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.bot-1 {
  width: 355px;
  padding: 33px;
  border-style: solid;
  border-width: 1.5px;
  border-color: #16389d;
  border-radius: 4px;
}

.section.overlay {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(22, 56, 157, 0.5)), to(rgba(22, 56, 157, 0.5))), url(https://uploads-ssl.webflow.com/60733d2…/607386a…_overlay.png);
  background-image: linear-gradient(
180deg
, rgba(22, 56, 157, 0.5), rgba(22, 56, 157, 0.5)), url("../../static//Rectangle\ 398.jpg");
  background-position: 0px 0px, 50% 50%;
  background-size: auto, 1440px;
}

.heading-9 {
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 30px;
  text-align: center;
}

.div-block-2.mock-up.mock2.mock3 {
  width: 173px;
  max-width: 173px;
  margin-right: auto;
  margin-bottom: 90px;
  margin-left: auto;
}

.col1 {
  padding-right: 100px;
  border-right: 1px solid #fff;
}

.heading-11 {
  color: #fff;
  font-size: 58px;
}

.col1-copy {
  padding-right: 114px;
  border-right: 1px solid #fff;
}

.image-10 {
  padding-bottom: 34px;
}

.heading-11 {
  color: #fff;
  font-size: 58px;
}

.col-3 {
  padding-right: 184px;
  border-right: 1px solid #fff;
}
.up1 {
  padding-top: 24px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-weight: 500;
}

.text-block-2 {
  font-family: Poppins, sans-serif;
  color: #fff;
  font-weight: 500;
}

.section.testimonial {
  background-color: #eaeaea;
}

.div-block-2 {
  width: 175px;
  max-width: 175px;
  margin-right: auto;
  margin-bottom: 70px;
  margin-left: auto;
  border-style: solid none none;
  border-width: 10px;
  border-color: #ff9f40;
  border-radius: 10px;
  text-align: center;
  margin-top: 30px;
}

.w-slider {
  position: relative;
  height: 300px;
  text-align: center;
  background: #dddddd;
  clear: both;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  tap-highlight-color: rgba(0,0,0,0);
}
.slider {
  height: auto;
  background-color: rgba(206, 110, 110, 0);
}

.w-slider-mask {
  position: relative;
  display: block;
  overflow: hidden;
  z-index: 1;
  left: 0;
  right: 0;
  height: 100%;
  white-space: nowrap;
}

.mask {
  width: 100%;
  background-color: rgba(111, 61, 61, 0);
}


.w-slide {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 100%;
  white-space: normal;
  text-align: left;
}

.slide {
  width: 398px;
  height: auto;
  margin-right: 20px;
}

.card {
  width: 244px;
  padding: 25px 45px;
  border-radius: 4px;
  background-color: #fff;
  height: 488px;
}

.flex-box.testimonial {
  max-width: 300px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.left-side {
  margin-right: 84px;
  padding-top: 32px;
}

.text-block-3 {
  margin-top: 5px;
  font-family: Poppins, sans-serif;
  font-size: 13px;
  font-weight: 600;
}

.right-side {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.text-block-4 {
  padding-top: 26px;
  padding-right: 5px;
  font-family: Poppins, sans-serif;
  font-size: 23px;
  line-height: 28px;
  font-weight: 500;
  text-align: right;
}

.testimonial-bar {
  width: 250px;
  margin: 34px auto 30px;
  border-top: 2px solid #e6e6e6;
}

.paragraph-2 {
  max-width: 301px;
  font-family: Poppins, sans-serif;
  color: #333;
  font-size: 11px;
  font-weight: 400;
  text-align: center;
}

.section.mockup {
  background-color: #fff;
}

.section.mockup.mar {
  padding-bottom: 40px;
}

.div-block-2.mock-up {
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
  text-align: right;
}

.paragraph {
  max-width: 418px;
  font-family: Poppins, sans-serif;
  text-align: left;
}

.w-clearfix:before, .w-clearfix:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.w-clearfix:after {
  clear: both;
}

.w-clearfix:before, .w-clearfix:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}


.f1 {
  margin-right: 50px;
  padding: 35px 45px;
  float: left;
  border-style: solid;
  border-width: 1px;
  border-color: #16389d;
  border-radius: 6px;
}

.image-15 {
  width: 168px;
}

.title {
  padding-top: 24px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.position {
  padding-bottom: 10px;
  font-family: Poppins, sans-serif;
  color: #ff9f40;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.collegr {
  max-width: 256px;
  padding-bottom: 17px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  text-align: center;
}

.text-block-11 {
  max-width: 186px;
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

.f2 {
  margin-right: 0px;
  padding: 35px 45px;
  float: left;
  border-style: solid;
  border-width: 1px;
  border-color: #16389d;
  border-radius: 6px;
}

.image-15 {
  width: 168px;
}

.text-block-11 {
  max-width: 186px;
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

.w-clearfix:before, .w-clearfix:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.w-clearfix:after {
  clear: both;
}

.w-clearfix:before, .w-clearfix:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.paragraph-3 {
  max-width: 460px;
  padding-top: 60px;
  padding-bottom: 118px;
}

.div-block-4 {
  max-width: 460px;
  height: 198px;
}

.heading-12 {
  max-width: 643px;
  font-size: 67px;
}

.heading-14.color {
  color: #16389d;
}

.heading-14 {
  font-size: 67px;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  float: left;
  border: 1px solid #3d3d3d;
  border-radius: 4px;
}

.div-block-5 {
  width: 243px;
  padding: 15px;
  float: none;
  clear: none;
  text-align: -webkit-center;
  cursor: pointer;
}

.text-block-6 {
  font-family: Poppins, sans-serif;
  color: #3d3d3d;
  font-size: 18px;
  text-align: center;
}

.text-block-6.col {
  max-width: 193px;
  padding-top: 6px;
  color: rgba(61, 61, 61, 0.6);
}

.cont {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  font-size: 30px;
  text-align: center;
}

.cont.color {
  color: rgba(61, 61, 61, 0.6);
  text-align: center;
}

.div-block-7 {
  width: 243px;
  padding: 10px 20px;
  background-color: #16389d;
  cursor: pointer;
}

.text-block-5 {
  padding-top: 10px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.right {
  padding: 27px 55px;
  background-color: #eaeaea;
}

.w-form {
  margin: 0 0 15px;
}

form {
  display: block;
  margin-top: 0em;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.lebel {
    font-family: Poppins, sans-serif;
    font-size: 11px;
    font-weight: 600;
}

.w-input, .w-select {
    display: block;
    width: 100%;
    height: 28px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.text-field-2 {
  width: 376px;
  height: 28px;
  max-width: 376px;
  border-radius: 2px;
}

.r1 {
  width: 50%;
}


.w-input, .w-select {
  display: block;
  width: 100%;
  height: 28px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

.text-field-3 {
  width: 166px;
  height: 28px;
  border-radius: 4px;
}

.r2 {
  width: 50%;
}
.text-field-4 {
  height: 28px;
  border-radius: 4px;
  width: 174px;
}

.w-form-done {
  display: none;
  padding: 20px;
  text-align: center;
  background-color: #dddddd;
}

.w-form-fail {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background-color: #ffdede;
}

.txt-fld {
  width: 376px;
  height: 87px;
  border-radius: 2px;
}

.w-button {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898EC;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}

.submit-button-2 {
  display: block;
  margin-top: 17px;
  margin-left: 259px;
  padding: 5px 29px;
  border-radius: 4px;
  background-color: #16389d;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}

input.w-button {
  -webkit-appearance: button;
}

.section.fup-col {
  position: relative;
  background-color: #f3f6ff;
}

.oone {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.heading-18 {
  font-size: 50px;
}

.adress {
  font-size: 20px;
}

.divider {
  width: 170px;
  padding-bottom: 45px;
  border-top: 1px solid #7D7D7D
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
  margin-bottom: 0px;
  padding-bottom: 22px;
}

.div-block-8.phone {
  margin-top: 0px;
  margin-bottom: 87px;
}

.image-12 {
  min-width: 22px;
  margin-right: 10px;
  margin-bottom: 0px;
}

.divider {
  width: 170px;
  padding-bottom: 45px;
  border-top: 1px solid #7D7D7D
}

.two {
  padding: 20px 40px;
  border-style: solid;
  border-width: 1px;
  border-color: #16389d;
  border-radius: 4px;
}

.icon-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.w-clearfix:before, .w-clearfix:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.w-clearfix:after {
  clear: both;
}

.w-clearfix:before, .w-clearfix:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}

.image-11 {
  margin-right: 30px;
  float: left;
}

.image-16 {
  float: left;
}

.oone.three {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.div-block-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
  margin-bottom: 0px;
  padding-bottom: 22px;
}

.div-block-8.mar {
    margin-bottom: -150px;
    margin-left: -147px;
}

.image-12 {
  min-width: 22px;
  margin-right: 10px;
  margin-bottom: 0px;
}

.image-12.mapmin {
  min-width: 346px;
  margin-right: 39px;
}

.square {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  width: 193px;
  height: 166px;
  background-color: #d4f0ff;
}

.section.footer-color {
  padding-bottom: 40px;
  background-color: #2c2c2c;
}

.footer-col {
  width: 31%;
  max-width: 20%;
}

.text-block-13 {
  margin-bottom: 20px;
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.text-block-13.normal {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}

.text-block-13.normal.hide {
  color: hsla(0, 0%, 100%, 0);
}



.nav-link:hover {
  border-style: none none solid;
  border-width: 1px 1px 2px;
  border-color: #ff9f40;
  color: #1f3984;
  font-weight: 700;
}

.nav-link:active {
  border-style: none none solid;
  border-width: 1px 1px 2px;
  border-color: #ff9f40;
  color: #1f3984;
  font-weight: 700;
}

.rec.rec-arrow {
  border-radius: 100%;
  color: white;
  background-color: transparent;
  border: none
}

.kGrYtS {
  display: none;
}

















